html {
  width: 100vw;
  overflow-x: hidden;
  background-color: black
}

body::-webkit-scrollbar {
  width: 5px;
 
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: linear-gradient(transparent, #880303);
}

h1 {
  background: black;
  color: white;
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  

}
.body {
  background: black;
  color: white;
}
.movie-sections{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4%
}


img{
  width: 200px;
  height: 100%

}
.movie-section:nth-child(1){
  padding: 400px;
}
.single-movie{
  border: solid 2px blue;
  padding: 10px;
  margin: 2px;

}
.movie-sections ::-webkit-scrollbar {
  width: 5px
}

.movie-sections ::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #880303);
  border: .25em solid hsl(120, 75%, 50% / 1);
  border-radius: 2px;
}
.movie-sections ::-webkit-scrollbar-thum-hover {
  background: linear-gradient(transparent, #27ff39);
  
}

 

.row{
  display: flex;
}
.info-tag{
  border: none;
  appearance: none;
  background-color: inherit;
  opacity: 30%;
  height: 15px;
  width: 15px;
}

.hero-modal img{
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 90%;
  transition: all 1s;
  z-index: 3;
  position: relative;
  top: -100px; 
  left: -60px;
  padding: 20px;
}

.info-tag {
  position: absolute;
  top: 45vw;
  right: 5vw;
}

.info-tag img { 
  width: 20px;
  height: 20px;
}
.hero-row{
  aspect-ratio: 16/9;
}
.hero-modal .info-tag img:hover{
 opacity: 100%;
 filter: brightness(40000000%);
}
.hero-modal{
  display: flex;
  margin-top: auto;
}
.react-responsive-modal-modal{
  opacity: 90% !important;
  background: rgb(54, 51, 51) !important;
  color: rgb(240, 237, 237) !important;
}
.react-responsive-modal-closeButton{
  filter: invert(75%);
  opacity: 50%;
}
.react-responsive-modal-closeButton:hover{
  opacity: 100%;
  filter: invert(70%) brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
  transition: all 2s ease-in-out;
}

.movie-sections{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.movie-sections div{
  padding:2px;
}
.movie-section{
  height: 320px;
  width: 90%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: black;
  padding: 20px 0px;
}

.single-movie{
  border: solid 2px blue;
  padding: 10px;
  margin: 2px;
}
.Card-Overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.Overlay:hover{
  cursor: pointer;
  transform: scale(1.1);
}

