.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    padding: 0 16px;
  }
  
  .header__switch {
    display: flex;
    margin-left: 16px;
  }
  
  .header__switch-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 16px;
  }
  
  .header__switch-button:hover {
    text-decoration: underline;
  }
  